.transitions {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.cursive {
	font-family: 'Merienda One', cursive;
}
.clickable-link {
	color: #3F4F2F;
	text-decoration:underline;
	cursor: pointer;
}
.clickable-link:hover {
	color:#141B0D;
}