/* Fonts */
@import url('../../../fonts/MeriendaOne.css');

/* Animations & Properties */
@import url('./theme-default/animations.css');
@import url('./theme-default/properties.css');

/* Components */
@import url('./theme-default/navbar.css');
@import url('./theme-default/logout-button.css');
@import url('./theme-default/note-list.css');
