.matchstick {
	position: relative;
	width:10em;
	height:1em;
}
.matchstick .head {
	position: absolute;
	width:1em;
	height: 1em;
}
.matchstick .body {
	position: absolute;
	top:0em;
	right:0em;
	bottom:0em;
	left:1em;
	height: 1em;
}
.matchstick .text {
	position: absolute;
	top: 0em;
	right: 0em;
	bottom: 0em;
	left: 0em;
	padding-left:1em;
	line-height: 1em;
	text-align: left;
}
.matchstick.align-left .body {
	left:1em;
	right:0em;
}
.matchstick.align-right .body {
	left:0em;
	right:1em;
}
.matchstick.align-left .head {
	left:0em;
	right:auto;
}
.matchstick.align-right .head {
	left:auto;
	right:0em;
}