.navbar > .matchstick.logout-button {
	position: absolute;
	top:0em;
	right:0em;
	width:3em;
	font-size:350%;
}
.navbar > .matchstick .body .text {
	font-size: 35%;
	line-height: 3em;
}
.navbar > .matchstick.logout-button .logout-icon { 
	position: absolute;
	top:0em;
	right:0em;
	bottom:0em;
	left:0em;
}