.note-list {
	position: absolute;
	top:0em;
	bottom:0em;
	left:0em;
	z-index: 9;
}
.note-list .menu {
	height:3.5em;
	border-bottom:solid 1px gainsboro;
}
.note-list .collection {
	top:3.5em;
}
.note-list .menu .add-note {
	position: absolute;
	right:0em;
	width:3em;
	font-size: 353%; /* scales the whole matchstick */
}
.note-list .menu .add-note .svg-icon {
	position: absolute;
	width:1em;
	height: 1em;
}
.note-list .menu .add-note .body .text{
	padding-left: 0em;
	font-size: 0.35em;
	line-height: 3em;
}
/*.note-list .*/